/* CSS変数宣言 */
:root{
	/* フォントサイズ */
	--fs-xx-large: 	32px;
	--fs-x-large: 	24px;
	--fs-large: 	20px;
	--fs-medium: 	16px;
	--fs-small: 	14px;
	--fs-x-small: 	12px;

	/* フォント色 */
	--main-font-color:	#FFFFFF;
	--sub-font-color:	#000000;

	/* その他の色 */
	--back-ground-color:				black;			/* 背景色 */

	--caption-background-color:			#666666;		/* キャプション背景色 */
	--caption-shadow-color:				#434343;		/* キャプションシャドウ色 */

	--current-sound-background-color:	#3d85c6;		/* 現在の音階背景色 */
	--current-sound-shadow-color:		#0b5394;		/* 現在の音階シャドウ色 */
	
	--keyboard-background-color:		white;			/* キーボード背景色 */
	--keyboard-shadow-color:			#B7B7B7;		/* キーボードシャドウ色 */

	--auto-play-background-color:		#f6b26b;			/* 自動演奏ボタン背景色 */
	--auto-play-shadow-color:			#b45f06;		/* 自動演奏ボタンシャドウ色 */

	--hover-background-color:			#fce5cd;		/* ホバー背景色 */
}

/* リセット設定 */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: none;		/* 選択不可 */
	font-weight: bold;
}

/* 背景 */
.background{
	width: 400px;
	height:380px;
	padding: 20px 20px 20px;
	background-color: var(--back-ground-color);
	/*border-radius: 10px;*/
}
/* タイトル */
.caption{
	font-size: var(--fs-xx-large);
	text-align: center;
	color: var(--main-font-color);
	background-color: var(--caption-background-color);
	box-shadow: 0 10px var(--caption-shadow-color);
	/*border:5px solid #666666;*/
	border-radius: 5px;
	margin-bottom: 20px;
}

/* 現在の音階 */
.current_sound{
	width: 30%;
	font-size: var(--fs-xx-large);
	text-align: center;
	color: var(--main-font-color);
	background-color: var(--current-sound-background-color);
	box-shadow: 0 10px var(--current-sound-shadow-color);
	border-radius: 5px;
	margin: 0 auto;
	margin-bottom: 20px;
}
/* キーボードフレックスボックス */
.flex_item_box{
	display: flex;
	flex-direction: row;
	margin-bottom: 30px;
}
/* キーボード */
.keyboard{
	width: 50px;
	height: 100px;
	font-size: var(--fs-large);
	text-align: center;
	color:var(--sub-font-color);
	background-color:var(--keyboard-background-color);
	box-shadow: 0 10px var(--keyboard-shadow-color);
	border-radius: 5px;
	opacity: 1;
	margin:0 auto;
}
.keyboard:hover{
	background-color: var(--hover-background-color);
}
.keyboard:active, .keyboard.active{
	position: relative;
	top: 10px;
	box-shadow: none;
}

/* 自動演奏ボタン */
.auto_play{
	width: 50%;
	font-size: var(--fs-x-large);
	text-align: center;
	color: var(--sub-font-color);
	background-color:var(--auto-play-background-color);
	box-shadow: 0 10px var(--auto-play-shadow-color);
	border-radius: 5px;
	user-select: none;
	opacity: 1;
	margin: 0 auto;
	margin-bottom: 20px;
}
.auto_play:hover{
	background-color: var(--hover-background-color);
}		
.auto_play:active {
	position: relative;
	top: 5px;
	box-shadow: 0 5px var(--auto-play-shadow-color);
}

/* 自動演奏情報 */
.auto_play_info{
	font-size: var(--fs-large);
	text-align: center;
	color: var(--main-font-color);
}
